.nav{
    width: 20%;
    height: 100vh;
    background-color: aqua;
    display: inline-block ;
        justify-content: center;
    
}
#nan{
    background-color: blue;
    
    

    
}
